# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# local
/public
/src

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/asset-manifest.json
build/favicon.ico
build/index.html
build/manifest.json
build/precache-manifest.2c2f7e7a316e35351afa3740fb835d15.js
build/robots.txt
build/service-worker.js
build/static/css/main.bea6d7ee.chunk.css
build/static/css/main.bea6d7ee.chunk.css.map
build/static/js/2.ca9b42a5.chunk.js
build/static/js/2.ca9b42a5.chunk.js.LICENSE
build/static/js/2.ca9b42a5.chunk.js.map
build/static/js/main.b90f4bed.chunk.js
build/static/js/main.b90f4bed.chunk.js.map
build/static/js/runtime-main.665f6dd2.js
build/static/js/runtime-main.665f6dd2.js.map
